// Colors
$app-white: #fff;
$app-gray-500: #7f828c;
$app-gray-200: #cbced8;
$app-blue-200: #3899ee;
$app-blue-100: #8EC5FC;
$app-violet-300: #DDA0DD;
$app-violet-200: #E0C3FC;

// Screen resolutions
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1400px;
$down-xxl: 1399px;
$down-xl: 1279px;
$down-lg: 1023px;
$down-md: 767px;
$down-sm: 575px;
$down-xs: 390px;
